name: release

on:
  release:
    types: [published]

jobs:
  upload_asset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
      - uses: burrunan/gradle-cache-action@v1
        with:
          gradle-distribution-sha-256-sum-warning: false
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          cache: gradle
          java-version: 21
      - run: chmod +x gradlew
      - name: Build
        run: ./gradlew build --no-daemon
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: nrikgvxm
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: 421897
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          files: build/libs/!(*-sources)*.jar
          dependencies: |
            fabric(required){modrinth:P7dR8mSH}{curseforge:306612}#(ignore:github)
            modmenu(recommended){modrinth:mOgUt4GM}{curseforge:308702}#(ignore:github)
            clothconfig(required){modrinth:9s6osm5g}{curseforge:348521}#(ignore:github)